<!-- ./views/layouts/new.handlebars -->
{{>message}}
<form action="/todos/new" method="POST">
  <div class="input-group mb-3">
    <input type="text" placeholder="name" name="name" class="form-control" value="{{name}}" maxlength="30" required>
    <div class="input-group-append">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </div>
</form>